<div class="contextual">
<%= link_to l(:l_custdeps_new), {:controller=>"Customfieldsdeps", :action=>"new"}, :class => 'icon icon-add' %>
</div>

<h2><%= l(:l_custdeps_plural) %></h2>

<% if @custs.any? %>
<table class="list groups">
  <thead><tr>
  <th><%=l(:l_custdeps_name)%></th>
  <th><%=l(:l_select_master_prompt)%></th>
  <th><%=l(:l_select_slave_prompt)%></th>
  <th></th>
  </tr></thead>
  <tbody>
<% @custs.each do |cust| %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td><%= cust.name %></td>
    <td align="center"><%= @custs_h[cust.custom_master_id] %></td>
    <td align="center"><%= @custs_h[cust.custom_slave_id] %></td>
    <td class="buttons"></td>
  </tr>
<% end %>
</table>


<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>


