<div class="contextual">
<%= link_to l(:l_custdeps_new), {:controller=>"Customfieldsdeps", :action=>"new"}, :class => 'icon icon-add' %>
</div>

<h2><%= l(:l_custdeps_plural) %></h2>

<% if @custs.any? %>
<table class="list groups">
  <thead><tr>
  <th><%=l(:l_custdeps_name)%></th>
  <th><%=l(:l_select_master_prompt)%></th>
  <th><%=l(:l_select_slave_prompt)%></th>
  <th></th>
  </tr></thead>
  <tbody>
<% @custs.each do |cust| %>
  <tr class="<%= cycle 'odd', 'even' %>">
    <td><%= link_to cust.name, :action=>"edit", :id=>cust %></td>
    <td align="center"><%= @custs_h[cust.custom_master_id] %></td>
    <td align="center"><%= @custs_h[cust.custom_slave_id] %></td>
    <td class="buttons"><%= link_to l(:button_delete), {:controller=>"Customfieldsdeps", :action=>"destroy", :id=>cust.id}, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %></td>
  </tr>
<% end %>
</table>


<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>


